<!DOCTYPE html>
<html>
  <head>
    <title>SchoolSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div>
      <ul class="nav right_side">
        <li class="nav-item">
            <%= link_to "Show Students", "/students" , class: "nav-link"  %>
        </li>
        <li class="nav-item">
            <%= link_to "Show Class", "/student_classes" , class: "nav-link"  %>
        </li>
        <li class="nav-item">
            <%= link_to "Add Student", "/students/new" , class: "nav-link"  %>
        </li>
        <li class="nav-item">
            <%= link_to "Students Total", "/students/total" , class: "nav-link"  %>
        </li>
        <li class="nav-item">
            <%= link_to "Show 1st student", "/students/first" , class: "nav-link"  %>
        </li>
      </ul>
    </div>

    <div class='container-fluid left_side'>
      <ul class="navbar navbar-dark bg-dark mr-auto">
        <p class="navbar-text w-100 h6">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <span class="float-right">
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </span>
            <% else %>
            <span class="float-right">
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
            </span>
        </p>
      </ul>
      
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
